/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Straal_Python.iml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_21_05_2021_20_36__Default_Changelist_.xml
/.idea/.gitignore
